@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, are you bored?</h1>

</div>


<div class="text-center">

    <h4>Click on this </h4>

    <a asp-page="/Bored/Index" class="btn btn-dark">button</a>

    <h4>to get inspired to do stuff!</h4>
</div>



